.secret {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 800px;
  text-transform: uppercase;
  background-color: white;

  &__wrapper {
    display: flex;
  }

  & h2 {
    padding-left: 120px;
    margin-top: -10px;
    z-index: 102;
  }

  &__sqr-770, &__sqr-725, &__sqr-545, &__sqr-330 {
    position: absolute;
    transform: rotate(45deg);
    background-color: rgba(170, 170, 170, 0.2);
    z-index: 101
  }

  &__sqr-770 {
    width: 770px;
    height: 770px;
    top: -110px;
    left: -390px;
  }

  &__sqr-770 {
    width: 770px;
    height: 770px;
    top: -110px;
    left: -390px;
  }

  &__sqr-725 {
    width: 725px;
    height: 725px;
    top: 50px;
    right: 120px;
  }

  &__sqr-545 {
    width: 545px;
    height: 545px;
    top: -210px;
    right: -230px;
  }

  &__sqr-330 {
    top: 380px;
    left: 200px;
    width: 330px;
    height: 330px;
  }

  & .sqr-green {
    top: 55px;
    left: -285px;
  }

  &__tab-fixer {
    position: absolute;
    width: 365px;
    height: 663px;
    left: 280px;
    bottom: -20px;
    background-image: url(../img/tablet-fixer.png);
    z-index: 102;
  }

  & ul {
    position: relative;
    top: 75px;
    left: -115px;
    list-style: none;
    font-size: 24px;
    line-height: 90px;
    font-weight: 700;
    color: #9fa0a3;
    z-index: 102;
  }

  & li {
    position: relative;
  }

  & li:hover,
  & li:active {
    color: #c7d744;
    cursor: pointer;
  }

  &__li--active {
    color: #c7d744;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 110%;
      top: 70px;
      left: -10px;
      border: 1px solid #c7d744;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      bottom: 38px;
      left: -40px;
      top: 52px;
      border: 3px solid #c7d744;
      border-radius: 50%;
      background: radial-gradient(circle closest-side, #c7d744 10px, white 5px);
    }
  }

  &__item {
    display: none;
    position: absolute;
    width: 400px;
    height: 380px;
    right: 250px;
    top: 225px;
    z-index: 102;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }

  & h3 {
    width: 350px;
    margin-bottom: 30px;
  }
}
